@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Varela&display=swap");
.color-primary {
  color: #7D0200;
}

.bg-primary {
  background-color: #7D0200;
}

.color-off-white {
  color: #E4E4E4;
}

.bg-off-white {
  background-color: #E4E4E4;
}

.color-dark {
  color: #323232;
}

.bg-dark {
  background-color: #323232;
}

/* -- animation.scss -- */
@keyframes breath {
  5% {
    box-shadow: 0 0 20px transparent;
  }
  30% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  70% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  95% {
    box-shadow: 0 0 20px transparent;
  }
}
@keyframes breath-f {
  5% {
    box-shadow: 0 0 20px transparent;
  }
  20% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  80% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  95% {
    box-shadow: 0 0 20px transparent;
  }
}
@keyframes deco-round {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(359deg);
    transform-origin: center;
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2.75rem));
  }
}
@keyframes rscroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + 2.75rem));
  }
}
/* -- Global.scss -- */
/* 反白選取樣式 */
::-moz-selection {
  background-color: rgba(125, 2, 0, 0.8);
  color: #E4E4E4;
}

::selection {
  background-color: rgba(125, 2, 0, 0.8);
  color: #E4E4E4;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Varela", "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 28px;
  -webkit-tap-highlight-color: transparent;
  line-height: 40px;
  background-color: #E4E4E4;
  color: #323232;
  width: 100svw;
  overflow-x: hidden;
}

/* 文字設定 */
h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 220px;
  line-height: 230px;
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 196px;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 80px;
    line-height: 72px;
  }
}
@media screen and (max-width: 516px) {
  h1 {
    font-size: 76px;
    line-height: 68px;
  }
}

p a,
span a {
  color: #323232;
  text-decoration: underline;
  transition: color 0.3s;
}
p a:hover,
span a:hover {
  color: #7D0200;
}

/* 圖片設定 */
img {
  max-width: 100%;
}

/* -- Layout.scss -- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5svh calc(50svw - 600px) 0 calc(50svw - 600px);
  height: -moz-min-content;
  height: min-content;
  color: #E4E4E4;
  z-index: 5;
  transition: transform 0.3s ease-in-out;
  display: flex;
}
header.hidden {
  transform: translateY(-100%);
}
header .main-logo {
  flex: 1;
  flex-grow: 0;
}
header .main-logo img {
  max-width: 255px;
}
header .options {
  flex: 3;
  justify-content: flex-end;
  text-transform: uppercase;
  display: flex;
  gap: 24px;
}
header .options .menu,
header .options .close {
  display: none;
}
header .options .nav {
  font-family: "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  flex: 250px;
  max-width: 250px;
  padding-top: 10px;
}
header .options .nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 12px 60px;
}
header .options .nav ul li a {
  background: linear-gradient(60deg, #7D0200 50%, #323232 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 100%;
  background-position: 100%;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
header .options .nav ul li a:hover {
  background-position: 0 100%;
}
header .options .nav ul.sns {
  display: none;
}
header .options .language {
  position: relative;
  font-family: "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #323232;
  flex: 1;
  flex-grow: 0;
  min-width: 120px;
  margin-left: 76px;
}
header .options .language div {
  background: linear-gradient(60deg, #7D0200 50%, #323232 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 100%;
  background-position: 100%;
  transition: all 0.5s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .options .language div:hover {
  background-position: 0 100%;
}
header .options .language div:before, header .options .language div:after {
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}
header .options .language div:before {
  width: 24px;
  display: inline-block;
  background-image: url(../img/icon/globe.svg);
  margin-right: 8px;
}
header .options .language div:after {
  background-image: url(../img/icon/arrow-s.svg);
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
}
header .options .language div span {
  padding-right: 16px;
  word-break: keep-all;
}
header .options .language ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background-color: #E4E4E4;
  border-radius: 12px;
  overflow: hidden;
  height: auto;
  max-height: 0;
  padding: 0 52px;
  transition: max-height 0.3s, padding 0.3s;
}
header .options .language ul li {
  background: linear-gradient(60deg, #7D0200 50%, #323232 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 100%;
  background-position: 100%;
  transition: all 0.5s ease-in;
  cursor: pointer;
  margin: 10px 0;
  font-weight: 400;
}
header .options .language ul li:hover {
  background-position: 0 100%;
}
header .options .language ul li.active {
  font-weight: 700;
}
header .options .language.show ul {
  max-height: 500px;
  padding: 18px 52px;
  border: rgba(50, 50, 50, 0.3) solid 1px;
}
header .options .wallet button {
  font-family: "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  flex: 1;
  padding: 12px 24px;
  color: #E4E4E4;
}
header .options .wallet button:after {
  background: linear-gradient(120deg, rgba(228, 228, 228, 0) 50%, #7D0200 51%);
}
header .options .wallet button:hover {
  color: #7D0200;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

section {
  position: relative;
  width: 100svw;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  z-index: -1;
}
.bg span {
  position: absolute;
  background-color: #E4E4E4;
  animation: breath 3s infinite;
}

#main,
#master,
#about,
#mint {
  padding: 8svw calc(50svw - 600px);
  overflow: hidden;
}

#main {
  font-size: 220px;
  position: relative;
}
#main h1 {
  margin-bottom: calc(28svw - 1.1em);
}
#main .banner {
  position: absolute;
  width: 50svw;
  height: 28svw;
  right: calc(50svw - 600px);
  top: calc(8svh + 1.1em);
}
#main .subtitle {
  width: 50svw;
  margin-left: calc(1200px - 50svw);
}
#main:after {
  content: "";
  position: absolute;
  top: calc(8svw + 460px);
  left: calc(50svw - 600px);
  width: 76px;
  height: 76px;
  background-image: url(../img/deco.png);
  background-size: 100%;
  animation: deco-round 15s linear infinite;
}

#master {
  height: calc(50svw + 200px);
  line-height: 128px;
}
#master h2 {
  position: relative;
}
#master .container {
  position: absolute;
  width: 50svw;
  height: 25svw;
  right: calc(50svw - 600px);
  top: calc(8svw + 200px);
}
#master .accord-wrapper {
  overflow: hidden;
}
#master .accord-wrapper .master1,
#master .accord-wrapper .master2,
#master .accord-wrapper .master3 {
  transition: width 0.5s ease-in-out;
  transform: skew(0, 0);
}
#master .master1,
#master .master2,
#master .master3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 25svw;
  width: 33.333%;
  filter: grayscale(0.5);
}
#master .master1:after,
#master .master2:after,
#master .master3:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(125, 2, 0, 0.3);
  transition: background-color 0.5s ease-in-out;
}
#master .widthlow {
  width: 17%;
}
#master .widthmax {
  width: 66%;
  transition: width 1s;
  filter: grayscale(0);
}
#master .widthmax:hover .intro {
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}
#master .widthmax:after {
  background-color: transparent;
}
#master .accord-content {
  color: #E4E4E4;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}
#master .accord-content .intro {
  transform: translateY(100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 38%;
  padding: 24px 36px;
  background: linear-gradient(to bottom, transparent 0%, #7D0200 100%);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
#master .accord-content .intro p {
  flex: 100%;
}
#master .master1 {
  background-image: url(../img/master01.jpg);
}
#master .master1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -74px;
  height: 100%;
  width: calc(100% + 60px);
}
#master .master2 {
  background-image: url(../img/master02.jpg);
}
#master .master2 .accord-content {
  background: none;
}
#master .master2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#master .master3 {
  background-image: url(../img/master03.jpg);
}
#master .master3 .accord-content {
  background: none;
}
#master .master3:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -74px;
  height: 100%;
  width: calc(100% + 60px);
}
#master .bg span:first-child {
  width: 4svw;
  height: 4svw;
  top: 30.5svw;
  left: 16.5svw;
  z-index: 5;
  animation-name: breath-f;
}
#master .bg span:nth-child(2) {
  width: 9.5svw;
  height: 9.5svw;
  top: 32.5svw;
  left: 10svw;
}
#master .bg span:nth-child(3) {
  width: 5svw;
  height: 5svw;
  top: 40.5svw;
  left: 18svw;
}
#master .bg span:nth-child(4) {
  width: 7svw;
  height: 7svw;
  top: 4.5svw;
  right: 14svw;
  z-index: 5;
  animation-name: breath-f;
}
#master .bg span:nth-child(5) {
  width: 5svw;
  height: 5svw;
  top: 9.5svw;
  right: 10svw;
}
#master .bg span:nth-child(6) {
  width: 2.5svw;
  height: 2.5svw;
  top: 15.5svw;
  right: 14svw;
  z-index: 5;
  animation-name: breath-f;
}
#master .bg span:nth-child(7) {
  width: 3svw;
  height: 3svw;
  top: 17.5svw;
  right: 12svw;
  z-index: 5;
  animation-name: breath-f;
}
#master:after {
  content: url(../img/dot.png);
  position: absolute;
  top: calc(8svw + 64px);
  left: calc(50svw - 600px);
  transform: translateX(-50%);
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about .subtitle {
  width: 35svw;
  padding-bottom: 56px;
}
#about .blindbox {
  position: relative;
}
#about .blindbox img {
  border-radius: 100px;
  max-width: 400px;
}
#about .blindbox:after {
  content: "";
  position: absolute;
  background-image: url(../img/deco-outline.png);
  background-size: 100%;
  top: -150px;
  left: -150px;
  width: 300px;
  height: 300px;
  z-index: -1;
  animation: deco-round 15s linear infinite;
}
#about .bg span:first-child {
  width: 13svw;
  height: 13svw;
  top: 8svw;
  left: 8svw;
}
#about .bg span:nth-child(2) {
  width: 5svw;
  height: 5svw;
  top: 6.5svw;
  left: 18.5svw;
  z-index: 5;
  animation-name: breath-f;
}
#about .bg span:nth-child(3) {
  width: 4.5svw;
  height: 4.5svw;
  bottom: 6svw;
  left: 12svw;
  z-index: 5;
  animation-name: breath-f;
}
#about .bg span:nth-child(4) {
  width: 5svw;
  height: 5svw;
  bottom: 2.5svw;
  left: 15.5svw;
}
#about .bg span:nth-child(5) {
  width: 9.5svw;
  height: 9.5svw;
  bottom: 3.5svw;
  right: 9.5svw;
}
#about .bg span:nth-child(6) {
  width: 5svw;
  height: 5svw;
  bottom: 2.5svw;
  right: 16.5svw;
  z-index: 5;
  animation-name: breath-f;
}

#craft {
  height: 100vh;
  font-size: 154px;
  line-height: 154px;
  max-height: 6em;
  overflow: hidden;
}
#craft .marquee {
  display: flex;
  overflow: hidden;
  width: 100%;
  grid-column-gap: 1rem;
}
#craft .marquee .marquee-content {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  flex: 0 0 auto;
  grid-column-gap: 1rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 28px;
}
#craft .marquee .marquee-content.rscroll {
  animation: scroll 30s linear infinite reverse;
}
#craft .marquee .marquee-content.scroll {
  animation: scroll 30s linear infinite;
}
#craft .marquee .marquee-content .text-block {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 154px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 4px;
}
#craft .marquee .marquee-content .text-block.strokeme {
  color: #E4E4E4;
  text-shadow: -2px -2px 0 #313131, 2px -2px 0 #313131, -2px 2px 0 #313131, 2px 2px 0 #313131;
}
#craft .marquee .marquee-content .text-block .small {
  display: flex;
  align-items: center;
  gap: 44px;
}
#craft .craft {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#mint {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
#mint h2 {
  position: relative;
}
#mint ul {
  display: flex;
  text-align: center;
  width: 1200px;
  border-top: 1px solid #323232;
  margin-top: 66px;
}
#mint ul li {
  flex: 1;
  position: relative;
  padding-top: 54px;
}
#mint ul li img {
  display: block;
  margin: 0 auto;
}
#mint ul li h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 36px;
  margin-top: 20px;
}
#mint ul li p {
  font-family: "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 28px;
}
#mint ul li:before {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #323232;
  color: #E4E4E4;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  font-size: 32px;
  line-height: 60px;
}
#mint ul li:first-child:before {
  content: "1";
}
#mint ul li:nth-child(2):before {
  content: "2";
}
#mint ul li:last-child:before {
  content: "3";
}
#mint ul li:last-child:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #323232;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
}
#mint .mint-slide {
  display: none;
}
#mint:after {
  content: "";
  background-image: url(../img/deco.png);
  background-size: 100%;
  position: absolute;
  top: calc(8svw + 40px);
  right: calc(50svw - 600px);
  width: 176px;
  height: 176px;
  z-index: -1;
  animation: deco-round 15s linear infinite;
}

#faq {
  padding: 3svw calc(50svw - 600px);
  height: auto;
}
#faq dl {
  margin-left: 240px;
}
#faq dl dd {
  overflow: hidden;
  height: auto;
  max-height: 0;
  padding: 0;
  font-family: "Varela", "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1024px) {
  #faq dl dd {
    font-size: 16px;
    line-height: 24px;
  }
}
#faq dl dt {
  padding: 32px 0;
  cursor: pointer;
  font-family: "Varela", "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  #faq dl dt {
    font-size: 18px;
    line-height: 26px;
  }
}
#faq dl dt:not(:first-child) {
  border-top: 1px solid #323232;
}
#faq dl dt.show + dd {
  padding-bottom: 32px;
  max-height: 100svh;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}

#team {
  padding: 10svw 0 5svw calc(50svw - 600px);
  overflow: hidden;
}
#team .swiper-slide .img {
  position: relative;
  overflow: hidden;
}
#team .swiper-slide .img img {
  min-width: 100%;
  min-height: 100%;
}
#team .swiper-slide .img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  background-color: #7D0200;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
#team .swiper-slide h3 {
  font-family: "Varela", "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  #team .swiper-slide h3 {
    font-size: 18px;
    line-height: 26px;
  }
}
#team .swiper-slide p {
  font-family: "Varela", "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
@media screen and (max-width: 1024px) {
  #team .swiper-slide p {
    font-size: 16px;
    line-height: 24px;
  }
}
#team .swiper-slide:hover .img:after {
  background-color: transparent;
}
#team:after {
  content: "";
  background-image: url(../img/deco-outline.png);
  background-size: 100%;
  position: absolute;
  top: 24px;
  left: calc(50svw - 600px);
  width: 140px;
  height: 140px;
  bottom: 3svw;
  animation: deco-round 15s linear infinite;
}

#partner {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5svw 0;
}
#partner h2 {
  padding: 0 0 28px calc(50svw - 600px);
}
#partner .marquee .line {
  display: flex;
  overflow: hidden;
  width: 100%;
  grid-column-gap: 1rem;
}
#partner .marquee .line .marquee-content {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  flex: 0 0 auto;
  grid-column-gap: 1rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 28px;
  animation: scroll 15s linear infinite;
}
#partner .marquee .line .marquee-content .text-block .small {
  display: flex;
  align-items: center;
  gap: 44px;
}
#partner .marquee .line .marquee-content .text-block .small a {
  display: inherit;
}
#partner .marquee .line .marquee-content .text-block .small a .color {
  display: none;
}
#partner .marquee .line .marquee-content .text-block .small a:hover .grey {
  display: none;
}
#partner .marquee .line .marquee-content .text-block .small a:hover .color {
  display: inline;
}
#partner .marquee:hover .line .marquee-content {
  animation-play-state: paused;
}

footer {
  width: 100%;
  scroll-snap-align: start;
  padding: 8svw calc(50svw - 720px);
}
footer .links {
  display: flex;
  max-width: 1200px;
  margin: 100px auto 0;
}
footer .links .sns,
footer .links .npm {
  flex: 1;
}
footer .links .sns h3,
footer .links .npm h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 18px;
}
footer .links .sns ul li,
footer .links .npm ul li {
  display: inline-block;
  margin-right: 36px;
}
footer .links .sns ul li a,
footer .links .npm ul li a {
  color: #323232;
  transition: color 0.5s;
  text-decoration: none;
  font-family: "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
footer .links .sns ul li a:hover,
footer .links .npm ul li a:hover {
  color: #7D0200;
}
footer .links .sns ul li a img:nth-child(2),
footer .links .npm ul li a img:nth-child(2) {
  display: none;
}
footer .links .sns ul li a:hover img:first-child,
footer .links .npm ul li a:hover img:first-child {
  display: none;
}
footer .links .sns ul li a:hover img:nth-child(2),
footer .links .npm ul li a:hover img:nth-child(2) {
  display: inline;
}
footer span {
  display: block;
  border-top: #323232 1px solid;
  margin: 100px 0 62px 0;
}
footer .additional {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Varela", "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
}
footer .additional .copyright {
  flex: 1;
}
footer .additional .info {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 66px;
}
footer .additional .info a {
  background: linear-gradient(60deg, #7D0200 50%, #323232 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 100%;
  background-position: 100%;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
footer .additional .info a:hover {
  background-position: 0 100%;
}

@media screen and (max-width: 1440px) {
  header {
    padding: 5svh 5svw 0 5svw;
  }
  #main,
  #master,
  #about,
  #mint {
    padding: 8svw 5svw;
  }
  #main h1 {
    margin-bottom: calc(33.75svw - 1.1em);
  }
  #main .banner {
    width: 60svw;
    height: 33.75svw;
    right: 5svw;
    top: calc(8svw + 0.7em);
  }
  #main .subtitle {
    width: 60svw;
    margin-left: calc(100% - 60svw);
  }
  #main:after {
    left: 5svw;
  }
  #master .container {
    width: calc(90svw - 10em);
    height: calc((90svw - 10em) / 16 * 9);
    right: 5svw;
  }
  #master .container .master1,
  #master .container .master2,
  #master .container .master3 {
    height: 33.75svw;
  }
  #master .accord-content .intro {
    height: 50%;
  }
  #about .subtitle {
    width: 45svw;
  }
  #mint ul {
    width: 90svw;
  }
  #faq {
    padding: 3svw 5svw;
  }
  #team {
    padding: 12svw 0 5svw 5svw;
  }
  #partner {
    padding: 200px 0;
  }
  #partner h2 {
    padding-left: 5svw;
  }
  footer {
    padding: 3svw 5svw 5svw;
  }
}
@media screen and (max-width: 1200px) {
  header {
    padding-top: 20px;
  }
  header .main-logo img {
    max-width: 196px;
  }
  header .options {
    flex: 1;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 12px 20px;
  }
  header .options .nav {
    display: flex;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    max-width: 100svw;
    background-color: #E4E4E4;
    padding: 0 24px;
    z-index: 5;
    transition: all 0.2s ease-in-out;
  }
  header .options .nav .close {
    display: inline;
    border: none;
    position: absolute;
    top: 32px;
    right: 24px;
    padding: 0;
  }
  header .options .nav .close:after {
    display: none;
  }
  header .options .nav ul {
    display: inline;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2;
  }
  header .options .nav ul.sns {
    display: inline;
    position: absolute;
    bottom: 48px;
    left: 24px;
  }
  header .options .nav ul.sns li {
    display: inline;
    margin-right: 28px;
  }
  header .options .nav ul.sns li a {
    transition: none;
  }
  header .options .menu {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    order: 3;
  }
  header .options .menu:after {
    display: none;
  }
  header .options .menu.active + .nav {
    bottom: 0;
    max-height: 100svh;
    padding: 120px 24px;
  }
  header .options .language {
    order: 2;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  header .options .language div:before {
    margin-right: 20px;
  }
  header .options .language div span {
    display: none;
  }
  header .options .language ul {
    transform: translateX(calc(-50% - 8px)) translateY(10px);
  }
  header .options .wallet {
    flex: 100%;
    text-align: right;
  }
  #main {
    padding: 12svw 5svw 8svw;
  }
  #main .banner {
    top: calc(12svw + 1em);
  }
  #master:after {
    left: 5svw;
  }
  #mint:after {
    top: 140px;
    right: 5svw;
    width: 90px;
    height: 90px;
  }
  #faq dl {
    margin-left: 3em;
  }
  footer .links,
  footer .additional {
    max-width: 85svw;
  }
  footer .links .sns {
    flex: 3;
  }
  footer .links .npm {
    flex: 4;
  }
}
@media screen and (max-width: 1024px) {
  header .options .language {
    margin-left: 0;
  }
  header .options .wallet button {
    line-height: 20px;
  }
  #main,
  #about,
  #mint {
    padding: 120px 5svw;
  }
  #main {
    height: auto;
  }
  #main h1 {
    margin-bottom: 12px;
  }
  #main .banner {
    position: relative;
    top: auto;
    right: auto;
    width: 90svw;
    height: 50.6svw;
    margin-top: -12px;
  }
  #main .subtitle {
    margin: 20px 0 0 0;
  }
  #main:after {
    top: auto;
    right: 5svw;
    bottom: 60px;
    left: auto;
  }
  #master {
    padding: 60px 5svw 120px;
    height: auto;
  }
  #master .bg {
    height: 100%;
  }
  #master .container {
    position: relative;
    top: auto;
    right: auto;
    width: 90svw;
    height: 85svw;
    margin-top: 100px;
  }
  #master .container .master1,
  #master .container .master2,
  #master .container .master3 {
    height: 85svw;
  }
  #master:after {
    top: calc(8svw + 132px);
    right: -28px;
    left: auto;
  }
  #about {
    flex-wrap: wrap;
  }
  #about h2 {
    padding-bottom: 20px;
  }
  #about .bg {
    height: 100%;
  }
  #about > div {
    flex: 100%;
  }
  #about .subtitle {
    width: 100%;
    padding-bottom: 26px;
  }
  #about .blindbox {
    max-width: 400px;
    max-height: 400px;
    margin: 54px auto;
  }
  #about .blindbox img {
    width: 100%;
    border-radius: 20%;
  }
  #about .blindbox:after {
    width: 200px;
    height: 200px;
    top: auto;
    right: -90px;
    bottom: -90px;
    left: auto;
  }
  #craft {
    max-height: 100vh;
  }
  #team {
    padding: 12svw 0 5svw;
  }
  #team h2 {
    padding-left: 5svw;
    padding-bottom: 20px;
  }
  #team .teams {
    padding-left: 5svw;
  }
  #team .swiper-slide.swiper-slide-active .img:after {
    background-color: transparent;
  }
}
@media screen and (max-width: 516px) {
  header {
    flex-wrap: wrap;
  }
  header .wallet button {
    word-break: keep-all;
  }
  #main {
    padding: 152px 5svw;
  }
  #main .subtitle {
    width: 90svw;
  }
  #master .container {
    margin-top: 0;
  }
  #master .bg span:first-child {
    width: 32px;
    height: 32px;
    top: auto;
    bottom: 12px;
    left: calc(5svw + 60px);
  }
  #master .bg span:nth-child(2) {
    width: 56px;
    height: 56px;
    top: auto;
    bottom: 44px;
    left: calc(5svw + 12px);
  }
  #master .bg span:nth-child(3) {
    width: 24px;
    height: 24px;
    top: auto;
    bottom: 36px;
    left: calc(5svw + 88px);
  }
  #master .bg span:nth-child(4) {
    width: 88px;
    height: 88px;
    top: 20px;
    right: calc(5svw + 36px);
  }
  #master .bg span:nth-child(5) {
    width: 62px;
    height: 62px;
    top: 80px;
    right: 5svw;
  }
  #master .bg span:nth-child(6) {
    width: 32px;
    height: 32px;
    top: 128px;
    right: calc(5svw + 44px);
  }
  #master .bg span:nth-child(7) {
    width: 24px;
    height: 24px;
    top: 152px;
    right: calc(5svw + 28px);
  }
  #master:after {
    top: calc(8svw + 180px);
    transform: scale(0.5) translateX(-50%);
  }
  #about .blindbox {
    max-width: 240px;
    max-height: 240px;
  }
  #about .blindbox:after {
    width: 120px;
    height: 120px;
    top: auto;
    right: -50px;
    bottom: -50px;
    left: auto;
  }
  #about .bg span:first-child {
    width: 140px;
    height: 140px;
    top: 92px;
    left: auto;
    right: calc(5svw + 28px);
  }
  #about .bg span:nth-child(2) {
    width: 56px;
    height: 56px;
    top: 72px;
    left: auto;
    right: 5svw;
  }
  #about .bg span:nth-child(3) {
    width: 48px;
    height: 48px;
    top: auto;
    bottom: 100px;
    left: calc(5svw + 4px);
  }
  #about .bg span:nth-child(4) {
    width: 56px;
    height: 56px;
    top: auto;
    bottom: 60px;
    left: calc(5svw + 32px);
  }
  #about .bg span:nth-child(5) {
    width: 102px;
    height: 102px;
    right: auto;
    bottom: auto;
    top: calc(50% - 52px);
    left: calc(5svw + 24px);
  }
  #about .bg span:nth-child(6) {
    width: 56px;
    height: 56px;
    right: auto;
    bottom: auto;
    top: calc(50% + 28px);
    left: 5svw;
  }
  #craft {
    height: auto;
    max-height: 200svh;
  }
  #craft .marquee .marquee-content .text-block {
    font-size: 120px;
  }
  #craft .craft img {
    max-width: 130%;
  }
  #mint ul {
    display: none;
  }
  #mint .mint-slide {
    display: block;
    width: 90svw;
  }
  #mint .mint-slide .swiper-slide {
    text-align: center;
    padding-top: 52px;
  }
  #mint .mint-slide .swiper-slide h3 {
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    font-size: 24px;
    margin-top: 16px;
  }
  #mint .mint-slide .swiper-slide p {
    font-family: "PingFang TC", "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 28px;
  }
  #mint .mint-slide .swiper-slide:before {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #323232;
    color: #E4E4E4;
    position: absolute;
    top: 52px;
    left: 15svw;
    transform: translateY(-50%);
    font-size: 32px;
    line-height: 60px;
  }
  #mint .mint-slide .swiper-slide:first-child:before {
    content: "1";
  }
  #mint .mint-slide .swiper-slide:nth-child(2):before {
    content: "2";
  }
  #mint .mint-slide .swiper-slide:nth-child(3):before {
    content: "3";
  }
  #mint .mint-slide .swiper-button-next,
  #mint .mint-slide .swiper-button-prev {
    color: #323232;
    transition: opacity 0.2s ease-in-out;
  }
  #mint .mint-slide .swiper-button-next.swiper-button-disabled,
  #mint .mint-slide .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
  #faq dl {
    margin-left: 0;
  }
  #team {
    padding-bottom: 168px;
  }
  #team h2 {
    padding-bottom: 40px;
  }
  #team .swiper-slide h3 {
    margin-top: 12px;
    margin-bottom: 4px;
  }
  #team:after {
    top: auto;
    left: auto;
    right: calc(5svw - 12px);
    bottom: 0;
  }
  #partner {
    width: 100svw;
    overflow: hidden;
    padding: 48px 0 96px;
  }
  #partner h2 {
    padding-bottom: 72px;
  }
  #partner .marquee .line .marquee-content .text-block .small a img {
    max-height: 84px;
  }
  footer {
    padding-bottom: 88px;
  }
  footer .links {
    margin: 140px auto 0;
    flex-wrap: wrap;
  }
  footer .links .sns,
  footer .links .npm {
    flex: 100%;
  }
  footer .links .sns h3,
  footer .links .npm h3 {
    font-size: 36px;
    margin-bottom: 16px;
  }
  footer .links .sns ul,
  footer .links .npm ul {
    line-height: 0;
  }
  footer .links .sns ul li,
  footer .links .npm ul li {
    margin-right: 12px;
    margin-bottom: 16px;
    line-height: 14px;
  }
  footer .links .sns ul li a,
  footer .links .npm ul li a {
    font-size: 14px;
    display: inline-block;
  }
  footer .links .sns {
    margin-bottom: 60px;
  }
  footer span {
    margin: 60px 0 20px;
  }
  footer .additional {
    flex-wrap: wrap;
    max-width: 90svw;
  }
  footer .additional .copyright,
  footer .additional .info {
    flex: 100%;
  }
  footer .additional .copyright {
    order: 2;
    text-align: center;
    font-size: 12px;
  }
  footer .additional .copyright p {
    margin-bottom: 4px;
  }
  footer .additional .info {
    justify-content: flex-start;
    gap: 12px 28px;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 500;
    flex-wrap: wrap;
  }
  footer .additional .info li {
    flex-shrink: 0;
  }
}
/* -- Components.scss -- */
h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 128px;
  line-height: 128px;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 64px;
    line-height: 64px;
  }
}

.subtitle {
  font-family: "Varela", "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .subtitle {
    font-size: 24px;
    line-height: 32px;
  }
}

.content {
  font-family: "Varela", "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}
@media screen and (max-width: 1024px) {
  .content {
    font-size: 18px;
    line-height: 26px;
  }
}

.description {
  font-family: "Varela", "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
@media screen and (max-width: 1024px) {
  .description {
    font-size: 16px;
    line-height: 24px;
  }
}

button {
  background-color: transparent;
  border: 2px solid #7D0200;
  border-radius: 100px;
  padding: 20px 40px;
  font-family: "Varela", "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #7D0200;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -120%;
  height: 100%;
  background: linear-gradient(120deg, #7D0200 50%, transparent 51%);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}
button:hover {
  color: #E4E4E4;
}
button:hover:after {
  left: 0;
  right: -120%;
}
@media screen and (max-width: 1024px) {
  button {
    font-size: 20px;
    line-height: 26px;
    padding: 12px 36px;
  }
}

/* Swiper Styles */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #D9D9D9;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #7D0200;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 24px;
}

#go-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 84px;
  height: 84px;
  padding: 0;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 3;
}
#go-top.hidden {
  transform: translateY(200%);
}
#go-top img {
  transition: filter 0.3s ease-in-out;
  max-width: initial;
}
#go-top:hover img {
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 516px) {
  #go-top {
    right: 5svw;
    bottom: 5svw;
    width: 60px;
    height: 60px;
  }
}