@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Varela&display=swap");
.color-primary {
  color: #7D0200;
}

.bg-primary {
  background-color: #7D0200;
}

.color-off-white {
  color: #E4E4E4;
}

.bg-off-white {
  background-color: #E4E4E4;
}

.color-dark {
  color: #323232;
}

.bg-dark {
  background-color: #323232;
}

/* -- Global.scss -- */
/* 反白選取樣式 */
::-moz-selection {
  background-color: rgba(125, 2, 0, 0.9);
}

::selection {
  background-color: rgba(125, 2, 0, 0.9);
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-size: 28px;
  -webkit-tap-highlight-color: transparent;
  font-size: 28px;
  line-height: 40px;
  background-color: #E4E4E4;
}

/* 文字設定 */
h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 220px;
  line-height: 230px;
}

p a,
span a {
  color: #323232;
  text-decoration: underline;
  transition: color 0.3s;
}
p a:hover,
span a:hover {
  color: #7D0200;
}

/* 圖片設定 */
img {
  max-width: 100%;
}

/* -- Layout.scss -- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5svh calc(50svw - 600px) 0;
  height: 8svw;
  max-height: 154px;
  color: #E4E4E4;
  z-index: 5;
  transition: transform 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
}
header.hidden {
  transform: translateY(-100%);
}
header .main-logo {
  flex: 1;
  flex-grow: 0;
}
header .main-logo img {
  max-width: 255px;
}
header .options {
  flex: 3;
  justify-content: flex-end;
}
header .nav {
  font-family: "PingFang TC", "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .nav li {
  flex: 120px;
}
header .nav li a {
  background: linear-gradient(60deg, #7D0200 50%, #323232 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 100%;
  background-position: 100%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
header .nav li a:hover {
  background-position: 0 100%;
}
header .language {
  flex: 1;
}
header .wallet {
  flex: 1;
}

.full-cut {
  height: 100svh;
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
.full-cut section {
  height: 100svh;
  width: 100%;
  scroll-snap-align: center;
}

#main {
  padding: 8svw calc(50svw - 600px);
  font-size: 220px;
  overflow-y: scroll;
  position: relative;
}
#main .banner {
  position: absolute;
  width: 50svw;
  height: 28svw;
  right: calc(50svw - 600px);
  top: calc(8svh + 1.1em);
}
#main h1 {
  margin-bottom: calc(28svw - 1.1em);
}
#main .subtitle {
  width: 50svw;
  margin-left: calc(1200px - 50svw);
}

#master {
  position: relative;
  padding: 8svw calc(50svw - 600px);
  line-height: 128px;
}
#master h2 {
  position: relative;
}
#master h2:after {
  content: url(../img/dot.png);
  position: absolute;
  top: 30px;
  left: -30px;
}
#master .container {
  position: absolute;
  width: 50svw;
  height: 25svw;
  right: calc(50svw - 600px);
  top: calc(8svw + 200px);
}
#master .accord-wrapper {
  overflow: hidden;
}
#master .accord-wrapper .master1,
#master .accord-wrapper .master2,
#master .accord-wrapper .master3 {
  transition: width 0.5s ease-in-out;
  transform: skew(0, 0);
}
#master .master1,
#master .master2,
#master .master3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 25svw;
  width: 33.333%;
  filter: grayscale(1);
}
#master .widthlow {
  width: 17%;
}
#master .widthmax {
  width: 66%;
  transition: width 1s;
  filter: grayscale(0);
}
#master .widthmax:hover .intro {
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}
#master .accord-content {
  color: #E4E4E4;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
#master .accord-content .intro {
  transform: translateY(100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 38%;
  padding: 24px 36px;
  background: linear-gradient(to bottom, transparent 0%, #7D0200 100%);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
#master .accord-content .intro p {
  flex: 100%;
}
#master .master1 {
  background-image: url(../img/master01.jpg);
}
#master .master1 .accord-content {
  position: relative;
  z-index: 1;
}
#master .master1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -74px;
  height: 100%;
  width: calc(100% + 60px);
}
#master .master2 {
  background-image: url(../img/master02.jpg);
}
#master .master2 .accord-content {
  background: none;
  position: relative;
  z-index: 1;
}
#master .master2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#master .master3 {
  background-image: url(../img/master03.jpg);
}
#master .master3 .accord-content {
  background: none;
  position: relative;
  z-index: 1;
}
#master .master3:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -74px;
  height: 100%;
  width: calc(100% + 60px);
}
#master .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  z-index: 0;
}
#master .bg span {
  position: absolute;
  background-color: #E4E4E4;
  -webkit-animation: breath 5s infinite;
          animation: breath 5s infinite;
}
#master .bg span:first-child {
  width: 4svw;
  height: 4svw;
  top: 30.5svw;
  left: 16.5svw;
  z-index: 5;
  -webkit-animation-name: breath-f;
          animation-name: breath-f;
}
#master .bg span:nth-child(2) {
  width: 9.5svw;
  height: 9.5svw;
  top: 32.5svw;
  left: 10svw;
}
#master .bg span:nth-child(3) {
  width: 5svw;
  height: 5svw;
  top: 40.5svw;
  left: 18svw;
}
#master .bg span:nth-child(4) {
  width: 7svw;
  height: 7svw;
  top: 4.5svw;
  right: 14svw;
  z-index: 5;
  -webkit-animation-name: breath-f;
          animation-name: breath-f;
}
#master .bg span:nth-child(5) {
  width: 5svw;
  height: 5svw;
  top: 9.5svw;
  right: 10svw;
}
#master .bg span:nth-child(6) {
  width: 2.5svw;
  height: 2.5svw;
  top: 15.5svw;
  right: 14svw;
  z-index: 5;
  -webkit-animation-name: breath-f;
          animation-name: breath-f;
}
#master .bg span:nth-child(7) {
  width: 3svw;
  height: 3svw;
  top: 17.5svw;
  right: 12svw;
  z-index: 5;
  -webkit-animation-name: breath-f;
          animation-name: breath-f;
}
@-webkit-keyframes breath {
  5% {
    box-shadow: 0 0 20px transparent;
  }
  60% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  65% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  95% {
    box-shadow: 0 0 20px transparent;
  }
}
@keyframes breath {
  5% {
    box-shadow: 0 0 20px transparent;
  }
  60% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  65% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  95% {
    box-shadow: 0 0 20px transparent;
  }
}
@-webkit-keyframes breath-f {
  5% {
    box-shadow: 0 0 20px transparent;
  }
  25% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  75% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  95% {
    box-shadow: 0 0 20px transparent;
  }
}
@keyframes breath-f {
  5% {
    box-shadow: 0 0 20px transparent;
  }
  25% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  75% {
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.12);
  }
  95% {
    box-shadow: 0 0 20px transparent;
  }
}

#about {
  position: relative;
  padding: 160px calc(50svw - 600px);
  background-image: url(../img/p-About.jpg);
  background-size: 100%;
}

#go-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 84px;
  height: 84px;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 5;
}
#go-top.hidden {
  transform: translateY(200%);
}
#go-top img {
  transition: filter 0.3s ease-in-out;
  max-width: initial;
}
#go-top:hover img {
  filter: brightness(0) invert(1);
}

/* -- Components.scss -- */
h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 128px;
  line-height: 128px;
}

.subtitle {
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
}

.content {
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}

.description {
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

button {
  background-color: transparent;
  border: 2px solid #7D0200;
  padding: 20px 40px;
  font-size: 24px;
  color: #7D0200;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: -100%;
  height: 100%;
  background: linear-gradient(60deg, #7D0200 50%, transparent 51%);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
button:hover {
  color: #E4E4E4;
}
button:hover:after {
  left: 0;
  right: -120%;
}

/* Swiper Styles */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #D9D9D9;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #7D0200;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 24px;
}