/* -- Global.scss -- */
/* 反白選取樣式 */
::-moz-selection {
    background-color: rgba(map-get($color, primary), .8);
    color: map-get($color, off-white);
}

::selection {
    background-color: rgba(map-get($color, primary), .8);
    color: map-get($color, off-white);
}

::-webkit-scrollbar {
    display: none;
}

body {
    @include font(map-get($font, Varela), 400, 28);
    -webkit-tap-highlight-color: transparent;
    line-height: calc($font-size * 40);
    background-color: map-get($color, off-white);
    color: map-get($color, dark);
}


/* 文字設定 */
h1 {
    @include font(map-get($font, BebasNeue), map-get($font-weight, Regular), 220);
    line-height: calc($font-size * 230);
}

p,
span {
    a {
        color: map-get($color, dark);
        text-decoration: underline;
        transition: color .3s;

        &:hover {
            color: map-get($color, primary);
        }
    }
}


/* 圖片設定 */
img {
    max-width: 100%;
}

@media screen and (min-width: 1440px) {}


@media screen and (max-width: 1024px) {}


@media screen and (max-width: 767px) {}


@media screen and (max-width: 320px) {}