/* -- Layout.scss -- */
header {
    // background-color: rgba(map-get($color, primary), .9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5svh calc(50svw - 600px) 0;
    // height: 15svh;
    height: 8svw;
    max-height: 154px;
    color: map-get($color, off-white);
    z-index: 5;
    transition: transform .3s ease-in-out;
    backdrop-filter: blur(20px);
    display: flex;

    &.hidden {
        transform: translateY(-100%);
    }

    .main-logo {
        flex: 1;
        flex-grow: 0;

        img {
            max-width: 255px;
        }
    }

    .options {
        flex: 3;
        justify-content: flex-end;
    }

    .nav {
        @include font(map-get($font, PingFang), map-get($font-weight, Medium), 16);
        flex: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        li {
            flex: 120px;

            a {
                background: linear-gradient(60deg, map-get($color, primary) 50%, map-get($color, dark) 51%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 250% 100%;
                background-position: 100%;
                transition: all .5s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-position: 0 100%;
                }
            }
        }
    }

    .language {
        flex: 1;
    }

    .wallet {
        flex: 1;
    }
}

.full-cut {
    height: 100svh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    section {
        height: 100svh;
        width: 100%;
        scroll-snap-align: center;
    }
}

#main {
    padding: 8svw calc(50svw - 600px);
    @include font-size(220);
    overflow-y: scroll;
    position: relative;

    .banner {
        position: absolute;
        width: 50svw;
        height: 28svw;
        right: calc(50svw - 600px);
        top: calc(8svh + 1.1em);
    }

    h1 {
        margin-bottom: calc(28svw - 1.1em);
    }

    .subtitle {
        width: 50svw;
        margin-left: calc(1200px - 50svw);
    }
}

#master {
    position: relative;
    padding: 8svw calc(50svw - 600px);
    line-height: 128px;

    h2 {
        position: relative;

        &:after {
            content: url(../img/dot.png);
            position: absolute;
            top: 30px;
            left: -30px;
        }
    }

    .container {
        position: absolute;
        width: 50svw;
        height: 25svw;
        right: calc(50svw - 600px);
        top: calc(8svw + 200px);
    }

    .accord-wrapper {
        overflow: hidden;
        height: 400px;

        .div1,
        .div2,
        .div3 {
            float: left;
            transition: width 0.5s ease-in-out;
            transform: skew(0, 0);
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: calc(50svw * .76);
        }
    }

    .div1,
    .div2,
    .div3 {
        width: 33.333%;
        filter: grayscale(1);
    }

    .widthlow {
        width: 17%;
    }

    .widthmax {
        width: 66%;
        transition: width 1s;
        filter: grayscale(0);

        &:hover {
            .smoky {
                opacity: 1;
                transform: translateY(0);
                transition-property: opacity, transform;
                transition-duration: .5s;
                transition-delay: .5s;
            }
        }
    }

    .accord-content {
        color: #fff;
        padding: 35px;
        height: 400px;
        display: flex;
        align-items: flex-end;
        position: relative;

        .smoky {
            transform: translateY(100%);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            height: 38%;
            padding: 50px 0 24px 36px;
            background: linear-gradient(to bottom, transparent 0%, map-get($color, primary) 100%);
        }
    }

    .div1 {
        background-image: url(../img/master01.jpg);

        .accord-content {
            position: relative;
            z-index: 1;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: -74px;
            height: 100%;
            width: calc(100% + 60px);
        }
    }

    .div2 {
        background-image: url(../img/master02.jpg);

        .accord-content {
            background: none;
            position: relative;
            z-index: 1;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }

    .div3 {
        background-image: url(../img/master03.jpg);

        .accord-content {
            background: none;
            position: relative;
            z-index: 1;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: -74px;
            height: 100%;
            width: calc(100% + 60px);
        }
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100svw;
        height: 100svh;
        z-index: 0;

        span {
            position: absolute;
            background-color: map-get($color, off-white);
            animation: breath 5s infinite;

            &:first-child {
                width: 4svw;
                height: 4svw;
                top: 30.5svw;
                left: 16.5svw;
                z-index: 5;
                animation-name: breath-f;
            }

            &:nth-child(2) {
                width: 9.5svw;
                height: 9.5svw;
                top: 32.5svw;
                left: 10svw;
            }

            &:nth-child(3) {
                width: 5svw;
                height: 5svw;
                top: 40.5svw;
                left: 18svw;
            }

            &:nth-child(4) {
                width: 7svw;
                height: 7svw;
                top: 4.5svw;
                right: 14svw;
                z-index: 5;
                animation-name: breath-f;
            }

            &:nth-child(5) {
                width: 5svw;
                height: 5svw;
                top: 9.5svw;
                right: 10svw;
            }

            &:nth-child(6) {
                width: 2.5svw;
                height: 2.5svw;
                top: 15.5svw;
                right: 14svw;
                z-index: 5;
                animation-name: breath-f;
            }

            &:nth-child(7) {
                width: 3svw;
                height: 3svw;
                top: 17.5svw;
                right: 12svw;
                z-index: 5;
                animation-name: breath-f;
            }
        }
    }

    @keyframes breath {
        5% {
            box-shadow: 0 0 20px transparent;
        }

        60% {
            box-shadow: 0 0 20px rgba(map-get($color, dark), .12);
        }

        65% {
            box-shadow: 0 0 20px rgba(map-get($color, dark), .12);
        }

        95% {
            box-shadow: 0 0 20px transparent;
        }
    }

    @keyframes breath-f {
        5% {
            box-shadow: 0 0 20px transparent;
        }

        25% {
            box-shadow: 0 0 20px rgba(map-get($color, dark), .12);
        }

        75% {
            box-shadow: 0 0 20px rgba(map-get($color, dark), .12);
        }

        95% {
            box-shadow: 0 0 20px transparent;
        }
    }
}

#about {
    position: relative;
    padding: 160px calc(50svw - 600px);
    background-image: url(../img/p-About.jpg);
    background-size: 100%;
}

#go-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 84px;
    height: 84px;
    border-radius: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    z-index: 5;

    &.hidden {
        transform: translateY(200%);
    }

    img {
        transition: filter .3s ease-in-out;
        max-width: initial;
    }

    &:hover {
        img {
            filter: brightness(0) invert(1);
        }
    }
}

@media screen and (min-width: 1440px) {}


@media screen and (max-width: 1024px) {}


@media screen and (max-width: 767px) {}


@media screen and (max-width: 320px) {}