// 字型+字重
@mixin font($f: map-get($font, PingFang), $fw: map-get($font-weight, Regular), $fs: 28) {
    font-family: $f;
    font-weight: $fw;
    font-size: calc($font-size * $fs);
}

@mixin font-subtitle {
    font-family: map-get($font, Varela);
    font-weight: 400;
    font-size: calc($font-size * 36);
    line-height: calc($font-size * 48);

    @media screen and (max-width: 414px) {}
}

@mixin font-content {
    font-family: map-get($font, Varela);
    font-weight: 400;
    font-size: calc($font-size * 28);
    line-height: calc($font-size * 40);
    text-transform: uppercase;

    @media screen and (max-width: 414px) {}
}

@mixin font-discription {
    font-family: map-get($font, Varela);
    font-weight: 400;
    font-size: calc($font-size * 24);
    line-height: calc($font-size * 36);

    @media screen and (max-width: 414px) {}
}

// 用法：
// .pingfang200 {
//     @include font(map-get($font, PingFang), map-get($font-weight, Thin), 24);
// }


// 字級
@mixin font-size($fs: 28) {
    font-size: calc($font-size * $fs);
}

// 用法：
// .fs {
//     @include font-size(12);
// }

// 顏色
@each $name,
$color in $color {
    .color-#{$name} {
        color: $color;
    }

    .bg-#{$name} {
        background-color: $color;
    }
}


// 超連結顏色
@mixin a-color($default: map-get($color, dark), $hover: map-get($color, primary)) {
    color: $default;
    transition: color .5s;
    text-decoration: none;

    &:hover {
        color: $hover;
    }
}

@mixin a-animate($default: map-get($color, primary), $hover: map-get($color, dark)) {
    background: linear-gradient(60deg, $default 50%, $hover 51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 250% 100%;
    background-position: 100%;
    transition: all .5s ease-in-out;
    cursor: pointer;

    &:hover {
        background-position: 0 100%;
    }
}